<div class="container bg-light p-4 mt-5 rounded-5">
  <div class="row">
    <div class="col-5 m-auto"> <!--como um container possui 12 colunas, col-4 significa que esta ocupado 4 col--><!--m = margem-->
      <h1 class="text-center mb-5 text-strong">Cadastro de alunos</h1>
      <form>
        <div class="mb-3">
          <label for="matricula" class="form-label">Matrícula</label>
          <input type="text" class="form-control" id="matricula" name="matricula">
        </div>
        <div class="mb-3">
          <label for="Nome" class="form-label">Nome</label>
          <input type="text" class="form-control" id="Nome" name="nome">
        </div>
        <div class="mb-3">
          <label for="curso" class="form-label">Curso</label>
          <input type="text" class="form-control" id="curso" name="curso">
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
      </form>
    </div>

  </div>
</div>
