<div class="container bg-light p-4 mt-5 rounded-5">
  <div class="row ">
    <div class="col-6 m-auto">
      <!--como um container possui 12 colunas, col-4 significa que esta ocupado 4 col--><!--m = margem-->
      <h1 class="text-center mb-5 text-strong">Cadastro de alunos</h1>
      <form [formGroup]="formGroupStudent">
        <div class="mb-3">
        </div>
        <div class="mb-3">
          <label for="Nome" class="form-label">Nome</label>
          <input type="text" class="form-control" id="Nome" formControlName="name">
        </div>

        <!--Mensagem de erro do nome-->
        <small *ngIf="submited && name.hasError('minlength')" class="text-danger">
          * O nome tem que ter no mínimo 3 caracteres!
        </small>
        <small *ngIf="submited && name.hasError('required')" class="text-danger">
          * O nome é requirido!
        </small>

        <div class="mb-3">
          <label for="curso" class="form-label">Curso</label>
          <input type="text" class="form-control" id="curso" formControlName="course">
        </div>

        <!--Mensagem de erro do curso-->
        <small *ngIf="submited && course.hasError('required')" class="text-danger">
          * O curso é requirido!
        </small>

        <div class="d-flex justify-content-center">
          <!--Button-->
          <button type="submit" class="btn btn-dark" (click)="save()">Salvar
          </button>
        </div>
      </form>
      <!--TABLE-->
      <h2 class="text-center  ">Alunos</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Matrícula</th>
            <th scope="col">Nome</th>
            <th scope="col">Curso</th>
            <th class="d-flex justify-content-end" scope="col">Opções</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of students">
            <!--a variavel student percorre pelo array students / ele repete o tr de acordo com o tamanho do array-->
            <th scope="row">{{student.id}}</th>
            <td>{{student.name}}</td>
            <td>{{student.course}}</td>
            <td>
              <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-danger me-2" (click)="delete(student)">Remover
                </button>
                <button type="submit" class="btn btn-secondary" (click)="edit(student)">Alterar
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
